<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet"  href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="static/hw1j.js"></script>

</head>

<body>
    <div class="header">
        <a href="#default" class="logo">Pokemon Starter Survey</a>
      </div>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

</body>

</html>